#output{
    display: block;
}

body{
    background-repeat: no-repeat;
    background-size: unset;
    background-color:rgba(250, 248, 244, 0.95);
     }

h1 { color: rgb(11, 11, 12);
    text-transform: capitalize;

}

h3 {
    color: rgb(153, 125, 134);
    font-style: italic;
        }